{% extends "templates/base.html" %}
{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% if error %}
        <p class = "error">{{error}}</p>
        {% endif %}
    <div class="int-nav">
        <a href="/tag-page">Go to tag page</a>
        <br>
        <a href="/post-page">Go to post page</a>
        <br>
        <a href="/logout">Logout</a>
    </div>
    <div class="span8">
            {% for item in lastpost %}
            <h4>Title: {{item.title}}</h4>
            <h5>Post ID: {{item.post_id}}</h5>
            <h5>Description: {{item.description}}</h5>
            <date>Date: {{item.date|date:"MM-dd-yyyy"}}</date>
            <br><br>
            <p>{{item.content}}</p>
            <p>Public? {{item.public}}</p>
            {% endfor %}
    </div>
    <div class="span8">
        <form action="/edit-page" method="POST">
            <p>
                Post ID:
                <input type="text" name="post_id"/>
            </p>
            <p>
                Title:
                <input type="text" name="title"/>
            </p>
            <p> Short Description:
                <br>
                <textarea rows="2" cols="50" name="description"></textarea>
            </p>
            <p>
                Content:
                <br>
                <textarea rows="8" cols="50" name="content"></textarea>
            </p>
            <p>
                Public?
                <input type="checkbox" name="public" value="true" />
            </p>
          <input type="submit" value="Edit Post" />
        </form>

    </div>
</div>
</div>
</div>

{% endblock %}
