{% extends "templates/base.html" %}
{% block content %}
{% for item in tagname %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>All posts tagged with:</h1>
                        <h2 class="subheading">"{{item.tag_name}}"</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% endfor %}
    {% for item in showposts %}
    <ul>
        <li><a href="{{servlet-context}}/post/{{item.post_id}}">{{item.title}} | {{item.date|date:longDate}}</a></li>
    </ul>
    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
